@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-family-poppins: 'Poppins', sans-serif;
  --font-family-inter: 'Inter', sans-serif;
  --color-accent: #FF3B30;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: var(--font-family-poppins);
}
